Repository hootpy/testmateai-be: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-formatter, ruff-linter, toml-sort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
  - repo: local
    hooks:
      - id: ruff-formatter
        name: Ruff formatter
        entry: poetry run ruff
        language: system
        types: [python]
        args: [format]
      - id: ruff-linter
        name: Ruff linter
        entry: poetry run ruff
        language: system
        types: [python]
        args: [check, --fix]
      - id: toml-sort
        name: Sort TOML files
        entry: poetry run toml-sort
        language: system
        types: [toml]
        args: [--in-place]

⚙️ci(): Update dockerfile production
  docker/prod/Dockerfile
Due: none

⚙️ci(): Update dockerfile
  Dockerfile
  docker/prod/compose.yaml
Due: none

🐛fix(): fix uvicorn command
  Dockerfile
Due: none

✨feat(): login endpoint
  alembic/versions/7b1c2a3add10_add_otp_table.py
  app/__init__.py
  app/api/auth/__init__.py
  app/api/auth/api.py
  app/api/route.py
  app/api/routes.py
  app/api/user/api.py
  app/api/user/apis.py
  app/common/utils/email.py
  app/core/config.py
  app/core/depends/get_current_user.py
  app/crud/auth.py
  app/crud/user.py
  app/model/model.py
  app/schema/auth.py
  app/schema/user.py
  poetry.lock
  pyproject.toml
  task.md
Due: ruff-formatter, ruff-linter, toml-sort

📦 refactor(): refactor commit lint message
  pyproject.toml
Due: toml-sort

📦 refactor(): fix commit option
  pyproject.toml
Due: toml-sort

✨ feat(1): registration endpoint
  alembic/env.py
  alembic/versions/7b1c2a3add10_add_otp_table.py
  alembic/versions/957392d84f53_.py
  alembic/versions/a10640ec76d6_.py
  app/api/auth/api.py
  app/api/user/api.py
  app/crud/auth.py
  app/crud/user.py
  app/model/model.py
  app/schema/auth.py
  app/schema/user.py
  task.md
Due: ruff-formatter, ruff-linter

✨ feat(2): 1.3 Account Management
  app/api/auth/api.py
  app/crud/user.py
  app/schema/user.py
Due: ruff-formatter, ruff-linter

📦 refactor(): Add ruff isort config
  pyproject.toml
Due: toml-sort

✨ feat(3): 2.1 Profile Management
  alembic/versions/002bc59d212b_add_preferences_to_user_model.py
  app/api/user/api.py
  app/crud/auth.py
  app/crud/user.py
  app/model/model.py
  app/schema/user.py
Due: ruff-formatter, ruff-linter

📦 refactor(): Update ruff isort config
  pyproject.toml
Due: toml-sort

✨ feat(4): 2.2 Progress Tracking
  app/api/user/api.py
  app/crud/user_progress.py
  app/schema/user_progress.py
Due: ruff-formatter, ruff-linter

✨ feat(5): 3.1 Speaking Test Feedback
  app/api/ai/__init__.py
  app/api/ai/api.py
  app/api/route.py
  app/schema/ai.py
Due: ruff-formatter, ruff-linter

✨ feat(6): 3.2 Writing Test Feedback
  app/api/ai/api.py
  app/schema/ai.py
Due: ruff-formatter, ruff-linter

✨ feat(7): 3.3 Study Plan Generation
  app/api/ai/api.py
  app/schema/ai.py
Due: ruff-formatter, ruff-linter

✨ feat(8): 4.1 Test Questions & Content
  app/api/route.py
  app/api/tests/__init__.py
  app/api/tests/api.py
  app/schema/tests.py
Due: ruff-formatter, ruff-linter

📦 refactor(): Update users response schema
  app/api/user/api.py
  app/crud/user.py
  app/model/model.py
  app/schema/user.py
Due: ruff-formatter, ruff-linter

🐛 fix(): fix otp code
  app/api/auth/api.py
Due: ruff-formatter, ruff-linter

🐛 fix(): fix schema error
  app/schema/user.py
Due: ruff-formatter, ruff-linter

📦 refactor(): create auth endpoint
  alembic/versions/002bc59d212b_add_preferences_to_user_model.py
  alembic/versions/957392d84f53_.py
  alembic/versions/a10640ec76d6_.py
  alembic/versions/af8e8e810d54_.py
  app/api/ai/__init__.py
  app/api/ai/api.py
  app/api/auth/api.py
  app/api/route.py
  app/api/tests/__init__.py
  app/api/tests/api.py
  app/api/user/__init__.py
  app/api/user/api.py
  app/core/depends/get_current_user.py
  app/crud/auth.py
  app/crud/user.py
  app/crud/user_progress.py
  app/model/model.py
  app/schema/ai.py
  app/schema/auth.py
  app/schema/tests.py
  app/schema/user.py
  app/schema/user_progress.py
  backend-api-specification.md
  mockdata.json
  task.md
Due: ruff-formatter, ruff-linter

✨ feat(): new api endpoint for practice and user
  app/api/practice/__init__.py
  app/api/practice/api.py
  app/api/route.py
  app/api/user/__init__.py
  app/api/user/api.py
  app/common/utils/level.py
  app/common/utils/practice.py
  app/crud/practice.py
  app/crud/user.py
  app/schema/practice.py
  app/schema/user.py
  task.md
Due: ruff-formatter, ruff-linter

✨ feat(): update other feature
  alembic/versions/70bd23d881e3_.py
  app/api/dashboard/__init__.py
  app/api/dashboard/api.py
  app/api/mock_test/__init__.py
  app/api/mock_test/api.py
  app/api/route.py
  app/api/user/api.py
  app/api/vocabulary/__init__.py
  app/api/vocabulary/api.py
  app/common/utils/cache.py
  app/common/utils/dashboard.py
  app/common/utils/mock_test.py
  app/common/utils/user_activity.py
  app/common/utils/user_analytics.py
  app/common/utils/vocabulary.py
  app/crud/dashboard.py
  app/crud/mock_test.py
  app/crud/user_activity.py
  app/crud/user_analytics.py
  app/crud/vocabulary.py
  app/model/model.py
  app/schema/dashboard.py
  app/schema/mock_test.py
  app/schema/user_activity.py
  app/schema/user_analytics.py
  app/schema/vocabulary.py
  backend-api-specification.md
  task.md
Due: ruff-formatter, ruff-linter

🐛 fix(): add query_param to get question endpoint
  app/api/practice/api.py
  app/crud/practice.py
  mockdata.json
Due: ruff-formatter, ruff-linter

🐛 fix(): fix otp error and schema missing
  app/common/utils/practice.py
  app/crud/auth.py
  app/schema/practice.py
Due: ruff-formatter, ruff-linter

✨ feat(): add AI endpoint
  .env.example
  app/api/ai/__init__.py
  app/api/ai/api.py
  app/api/route.py
  app/common/utils/llm.py
  app/core/config.py
  app/schema/ai.py
  poetry.lock
  pyproject.toml
Due: ruff-formatter, ruff-linter, toml-sort

✨ feat(): update ai endpoint
  app/api/ai/api.py
  app/common/utils/llm.py
  app/core/config.py
  backend-api-specification.md
  poetry.lock
  task.md
Due: ruff-formatter, ruff-linter
